.sidebar {
  display: flex;
  position: relative;
  width: 7%;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  &-profile {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
  }

  &-icons {
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    justify-content: space-evenly;

    & div {
      line-height: 1.0;

      & i {
        font-size: 26px;
      }

      & p {
        font-size: 0.4em;
        font-weight: 500;
      }
    }
  }
}
