@import "variables";

/* UTILS */
.color-primary {
  color: $primary-color !important;
}

.bg-primary {
  background-color: $primary-color;
}

.pa-2 {
  padding: 1em !important;
}

.py {
  padding-top: 1.2em;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.5em !important;
}

.mb-2 {
  margin-bottom: 1em !important;
}

.mb-3 {
  margin-bottom: 1.2em !important;
}

.mx-auto {
  margin: 0 auto;
}